[submodule "hub"]
	path = hub
	url = https://github.com/thinkonmay/thinkremote-rtchub
[submodule "package"]
	path = package
	url = https://github.com/pigeatgarlic/package
[submodule "turn"]
	path = turn
	url = https://github.com/thinkonmay/turn
