[submodule "web"]
	path = web
	url = https://github.com/thinkonmay/VirtualOS-win11
[submodule "manage"]
	path = manage
	url = https://github.com/thinkonmay/manage
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/thinkonmay/thinkmay-dashboard
